<div>
    <h2>General Settings</h2>

    <h3>Active Directory</h3>
    <p>Select the active directory database to populate tables.</p>

    @*validation*@
    <input type="text" name="connection" value="No AD database selected." />
    <a href="#">Scan</a>

    <a href="#">Apply Settings and go back to original page</a>
    <a href="#">Apply Settings and go back to main page</a>

</div>